{
	"rules": {
		"indent": [
			2,
			"tab"
		],
		"quotes": [
			2,
			"single"
		],
		"linebreak-style": [
			2,
			"unix"
		],
		"semi": [
			2,
			"always"
		]
	},
	"env": {
		"es6": true,
		"node": true
	},
	"globals": {
		"_": false,
    "describe": false,
    "desc": false,
    "it": false,
    "expect": false,
		"sandbox": false,
    "Memory": false,
		"Game": false,
		"RoomPosition": false,
		"FIND_SOURCES": false,
    "Position": false
	},
	"extends": "eslint:recommended"
}
